/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v25-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v25-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v25-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v25-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v25-latin-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v25-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v25-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v25-latin-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v26-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/fraunces-v26-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/fraunces-v26-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fraunces-v26-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/fraunces-v26-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/fraunces-v26-latin-regular.svg#Fraunces") format("svg"); /* Legacy iOS */
}
/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fraunces-v26-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/fraunces-v26-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/fraunces-v26-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/fraunces-v26-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/fraunces-v26-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/fraunces-v26-latin-700.svg#Fraunces") format("svg"); /* Legacy iOS */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
p {
  overflow-wrap: break-word;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.7;
  background-color: hsl(30, 38%, 92%);
  color: hsl(228, 12%, 48%);
  display: grid;
  place-content: center;
  margin: 1rem;
}

h1 {
  line-height: 1;
}

p {
  font-size: 0.875rem;
}

.flex-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.product {
  display: grid;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 600px;
}

@media (min-width: 600px) {
  .product {
    grid-template-columns: 1fr 1fr;
  }
  .product-content {
    padding: 2rem;
  }

  .product-img {
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
  }
}

.product-content {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
}

.product-category {
  letter-spacing: 0.375rem;
  text-transform: uppercase;
}

.product-title {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
}

.sales-price {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
  font-weight: 700;
}

.original-price {
  text-decoration: line-through;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(158, 36%, 20%);
  color: hsla(0, 0%, 100%, 0.875);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
